 /* NAVBAR */
* {
  font-family: 'Montserrat', sans-serif;
}

.my_navbar {
  border: 0;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2C3E50;
  font-weight: 700;
  text-align: center;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 29px;
  text-transform: uppercase;
}

#bs-example-navbar-collapse-1 {
  text-transform: uppercase;
  font-size: 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.bg_cyan {
  background-color: #1ABC9C;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-collapse {
  border-color: #2C3E50;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #1ABC9C;
}

/* MAIN */
/* JUMBO */

#jumbtron {
  background-color: #1ABC9C;
  padding-top: 150px;
  padding-bottom: 80px;
  color: #ffffff;
}

#jumbtron img {
  width: 280px;
  margin-bottom: 50px;
}

#jumbtron p {
  font-size: 24px;
  padding-top: 40px;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.divider {
  padding-top: 20px;
}

.divider i {
  font-size: 32px;
  padding-top: 10px;
}

.divider::after {
  float: right;
  margin-right: 415px;
}

.divider::before {
  float: left;
  margin-left: 415px;
}

.divider::before, .divider::after {
  content: '';
  display: block;
  width: 10%;
  height: 5px;
  background-color: #ffffff;
  margin-top: 25px;
}

.light {
  color: #ffffff;
}

.dark {
  color: rgb(34, 47, 62);
}

/* PORTFOLIO */

.portfolio {
  padding-bottom: 20px;
}

.text-star {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text-star > h2 {
  text-transform: uppercase;
}

.h2, h2 {
  font-size: 45px;
  padding: 0;
}

.divider_black {
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

.divider_black i {
  font-size: 32px;
  padding-top: 10px;
  color: #2C3E50;
}

.divider_black::after {
  float: right;
  margin-right: 415px;
}

.divider_black::before {
  float: left;
  margin-left: 415px;
}

.divider_black::before, .divider_black::after {
  content: '';
  display: block;
  width: 10%;
  height: 5px;
  background-color: #2C3E50;
  margin-top: 25px;
}

.content-portfolio  {
  padding: 15px;
}

.content-portfolio img {
  width: 100%;
  border-radius: 15px;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(26, 188 , 156, 0.9);
  display: none;
}

.layover i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}

/* ABOUT */

.divider_white {
  padding-top: 0px;
  text-align: center;
}

.divider_white i {
  font-size: 32px;
  padding-top: 10px;
  color: #ffffff;
}

.divider_white::after {
  float: right;
  margin-right: 415px;
}

.divider_white::before {
  float: left;
  margin-left: 415px;
}

.divider_white::before, .divider_white::after {
  content: '';
  display: block;
  width: 10%;
  height: 5px;
  background-color: #ffffff;
  margin-top: 25px;
}

.text-about {
  padding: 0 20px;
}

.text-about > p {
  font-size: 20px;
  color: #ffffff;
  padding: 20px 1.5rem;
}

.btn-download {
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

.btn-default {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-download > button:before {
content: '\f019';
font-family: "Font Awesome 5 Free";
font-weight: 900;
color: #ffffff;
padding-right: 5px;
}

/* CONTACT ME */

.contact-me {
  padding-bottom: 10px;
}

.form-control {
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 6px 0;
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
  border-color: #555;
}

.btn-primary {
  color: #ffffff;
  background-color: rgb(32, 177, 138);
  border-color: rgb(32, 177, 138);
  margin-top: 15px;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: rgb(34, 47, 62);
    border-color: rgb(34, 47, 62);
}

.form-group > textarea {
  width: 100%;
}

/* FOOTER */

.bg_blue {
  background-color: rgb(44, 66, 90);
}

.bg_darkblue {
  background-color: rgb(33, 47, 63);
}

.text-footer {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.text-footer > h3 {
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

.text-footer > p {
  color: #ffffff;
  font-size: 14px;
}

.text-footer > p > a {
  color: rgb(32, 177, 138);
}

.text-footer > i {
  margin: 5px 5px;
  color: #ffffff;
}

.circle {
  color: #ffffff;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 12px;
  border-radius: 50%;
}

.text-dark-footer {
  text-align: center;
  padding: 20px 0;
}

.text-dark-footer > p {
  color: #ffffff;
  font-size: 10px;
  line-height: 14px;
  margin: 0;
}


/* MEDIA SM */

@media all and (min-width: 768px) {

}

/* MEDIA MD */

@media all and (min-width: 992px) {
  .my_navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  }

  .navbar.default .navbar-brand {
    font-size: 28px;
  }

  .navbar.default .navbar-nav > li > a {
    font-size: 15px;
    padding: 16px;
  }

  #jumbtron h1 {
    font-size: 65px;
    line-height: 58px;
  }

  #jumbtron p {
    font-size: 25px;
  }
}

/* MEDIA LG */

@media all and (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm {
    max-width: 1140px;
  }
}
