 /* NAVBAR */
* {
  font-family: 'Montserrat', sans-serif;
}

.my_navbar {
  border: 0;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2C3E50;
  font-weight: 700;
  text-align: center;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 29px;
  text-transform: uppercase;
}

#bs-example-navbar-collapse-1 {
  text-transform: uppercase;
  font-size: 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.bg_cyan {
  background-color: #1ABC9C;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-collapse {
  border-color: #2C3E50;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #1ABC9C;
}

/* MAIN */
/* JUMBO */

#jumbtron {
  background-color: #1ABC9C;
  padding-top: 150px;
  padding-bottom: 80px;
  color: #ffffff;
}

#jumbtron img {
  width: 280px;
  margin-bottom: 50px;
}

#jumbtron p {
  font-size: 24px;
  padding-top: 40px;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.divider {
  padding-top: 20px;
}

.divider i {
  font-size: 32px;
  padding-top: 10px;
}

.divider::after {
  float: right;
  margin-right: 415px;
}

.divider::before {
  float: left;
  margin-left: 415px;
}

.divider::before, .divider::after {
  content: '';
  display: block;
  width: 10%;
  height: 5px;
  background-color: #ffffff;
  margin-top: 25px;
}

/* MEDIA SM */

@media all and (min-width: 768px) {

}

/* MEDIA MD */

@media all and (min-width: 992px) {
  .my_navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  }

  .navbar.default .navbar-brand {
    font-size: 28px;
  }

  .navbar.default .navbar-nav > li > a {
    font-size: 15px;
    padding: 16px;
  }

  #jumbtron h1 {
    font-size: 65px;
    line-height: 58px;
  }

  #jumbtron p {
    font-size: 25px;
  }
}

/* THUMB */


/* MEDIA LG */

@media all and (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm {
    max-width: 1140px;
  }
}
